---
import Grid from './Grid.astro';
import { getCollection } from 'astro:content';
import GridItem from './GridItem.astro';
import Image from './Image.svelte';
import '../styles/banner.css';
import '../styles/carousel.css';

// const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const { pathname, origin } = Astro.url;
const lang = pathname.split('/').filter(e => e)[0] || 'en';
let index = (await getCollection(lang, ({ id }) => {
  return id.startsWith('index');
}));
if (!index) {
	index = (await getCollection('en', ({ id }) => id.startsWith('index')));
}
const data = index?.[0].data.carousel;

---


<div id="homepage-slider" class="st-slider">

  <input type="radio" class="cs_anchor radio" name="slider" id="slide1"/>
  <input type="radio" class="cs_anchor radio" name="slider" id="slide2"/>
  <input type="radio" class="cs_anchor radio" name="slider" id="slide3"/>
  <input type="radio" class="cs_anchor radio" name="slider" id="play1" checked=""/>
  <div class="images">
    <div class="wave entry-content carousel-wrapper">
     <div class="images-inner">
      <div class="images-layout">
        <span class="overlay" />
        <div class="carousel-overlay">
          {data?.map((slide) => (
             <div class="image-slide">
          <Image
            title={'profile'}
            url={slide.img}
            alt={'profile'}
            media_type="image"
          />
          <div class="overlay-text overlay-text-0"></div>
          <Grid>
            <GridItem class="grid-items">
              <h1 class="title-h1">{slide.title}</h1>
            </GridItem>
            <GridItem class="grid-items">
              <p class="description">
                {slide.description}
              </p>
            </GridItem>
            <GridItem class="grid-items">
              <a href={`${origin}/${slide.url}`} class="custom-btn btn-3 btn-purple"><span>{slide.caption}</span></button>
            </GridItem>
          </Grid>
          <div class="overlay-text overlay-text-1"></div>
      </div>
          ))}
      </div>
      </div>
      </div>
    </div>
  </div>

  <div class="labels">
      <div class="fake-radio">
        <label for="slide1" class="radio-btn"></label>
        <label for="slide2" class="radio-btn"></label>
        <label for="slide3" class="radio-btn"></label>
      </div>
  </div>
</div>
